@import url(http://fonts.googleapis.com/css?family=PT+Sans|EB+Garamond|Open+Sans:400,300);

body {
	font-family: "Myriad Pro", "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight:300;
	font-size:13px;
	color: #646464;
}

li a { color:#fff;}
li a:hover { color:#fff;}
li a:active { color:#fff;}

#header { height:186px; padding-top: 32px; }

.menu-container {height:56px;background-color:#8e6c47;padding-right:0;}

#menu {
	list-style-type: none;
	padding-left:0;
	margin-left:0;
	height:56px;
}

#menu li {
	line-height:56px;
	display: inline-block;
	font-family: "Garamond", "EB Garamond", "Georgia", serif;
	color: #fff;
	font-size:1em;
	background-color:#8e6c47;
	padding-right:10px;
	padding-left:10px;
}

#menu li:hover {
	background-color:#735433;
}


#menu li.active {
	background-color:#735433;
}

article { margin-top:60px; }
article h1 {font-family: 'Open Sans', sans-serif; font-weight:300; color:#7e603f; margin-bottom: 55px;}
article h2 {
	font-family: "Garamond", "EB Garamond", "Georgia", serif; 
	color: #7e603f;
	text-transform:uppercase; 
	font-size:20px;
	margin-bottom: 30px;
}
article h3 {
	font-family: "Garamond", "EB Garamond", "Georgia", serif; 
	color: #3a3a3a; 
	font-size:20px;
	margin-bottom: 24px;
}

article h4 {
	font-family: "Garamond", "EB Garamond", "Georgia", serif; 
	color: #7e603f;
	font-size:18px;
	margin-bottom: 38px;	
}

article ul { margin-bottom: 20px;}

article p,
article li
{
	font-family: "Myriad Pro", "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight:300;
	font-size:1em;	
	color:#646464;
}

.txtintro {
	font-family: "Garamond", "EB Garamond", "Georgia", serif;
	font-size:20px;
	color:#3a3a3a;
	margin-bottom: 24px;
	display:block;
}

.container-custom {
	margin: 0;
	padding: 0;
	max-width: 1072px;
}

.corner { height:11px; background:url("../img/corner.png") no-repeat right top;}
.menu-bg { background-color:#8e6c47; height:56px; margin-top:186px; }

.leftcontainer 
{
	height:100%;
	position:absolute;
	left:0; 
	top:0; 
	height:100%;
	width:20%;
}

.midcontainer { 
	width:50%; 
	right:50%;
	position:absolute; 
	top:0;
	max-width: 600px;
}

.rightcontainer {
	z-index:-1;
	left:50.1%;
	height:100%;
	width:49.9%;
	position:absolute;
	background: black url("../img/bgaccueil.jpg") left no-repeat;
}

.rightcontainer-mission {
	z-index:-1;
	left:50.1%;
	height:100%;
	width:49.9%;
	position:absolute;
	background: black url("../img/bgmission.jpg") left no-repeat;	
}

.langselector {
	text-align:right;
	padding-top:108px;
	height:150px;
	display:block;
	margin-right:44px;	
}

.langselector a {
	color: #9a999c;
}

.langselector a.active {
	color: #976e40;
}

.langselector a:hover {
	color: #976e40;
}

form label {
	font-family: "Myriad Pro", "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight:300;
	font-size:12px;	
	line-height:32px;
	padding:0;
	margin:0;
	vertical-align: middle;
}

form .form-group {
	width:330px;
	padding-bottom: 28px;
}

form input,
form textarea
{
	font-family: "Myriad Pro", "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight:300;
	font-size:12px;		
}

form input[type="text"] {margin-left: 30px;height: 30px;}

form button {
	font-family: "Myriad Pro", "PT Sans", "Helvetica", "Arial", sans-serif;
	font-weight:300;
	font-size:12px;
	text-transform: uppercase;
	color: #fff;		
	background-color:#8e6c47;
	padding:6px;
	text-align: center;
	margin-top:14px;
	border:none;
}

@media all and (max-width: 972px){
	#menu li {
		font-size:0.8em;
	}
}

@media all and (max-width: 805px){
	#menu li {
		font-size:0.58em;
	}
}

@media all and (max-width: 640px){
	.leftcontainer, .rightcontainer { display: none;}
	.midcontainer { left:0; width:100%;}

	#menu li {
		font-size:0.72em;
	}
}
