body {
	font-family: "Myriad Pro", sans-serif;
	font-size:13px;
	color: #646464;
}

li a { color:#fff;}
li a:hover { color:#fff;}
li a:active { color:#fff;}

#header { height:186px; padding-top: 32px; }

.menu-container {height:56px;background-color:#8e6c47;padding-right:0;}

#menu {
	list-style-type: none;
	padding-left:0;
	margin-left:0;
	height:56px;
}

#menu li {
	line-height:56px;
	display: inline-block;
	font-family: Garamond, serif;
	color: #fff;
	font-size:1em;
	background-color:#8e6c47;
	padding-right:10px;
	padding-left:10px;
}

#menu li:hover {
	background-color:#735433;
}


#menu li.active {
	background-color:#735433;
}

article { margin-top:60px; }
article h1 {font-family: 'Open Sans', sans-serif; font-weight:300; color:#7e603f;}
article h2 {font-family: 'Garamond', sans-serif; color: #7e603f;text-transform:uppercase; font-size:20px;}

article p,
article li
{
	font-family: "Myriad Pro", sans-serif;
	font-size:1em;	
	color:#646464;
	margin-bottom: 24px;
}

.txtintro {
	font-family: Garamond, serif;
	font-size:20px;
	color:#3a3a3a;
	margin-top: 55px;
	margin-bottom: 24px;
	display:block;
}

.container-custom {
	margin: 0;
	padding: 0;
	max-width: 1072px;
}

.corner { height:11px; background:url("../img/corner.png") no-repeat right top;}
.menu-bg { background-color:#8e6c47; height:56px; margin-top:186px; }

.leftcontainer 
{
	height:100%;
	position:absolute;
	left:0; 
	top:0; 
	height:100%;
	width:20%;
}

.midcontainer { 
	width:50%; 
	right:50%;
	position:absolute; 
	top:0;
	max-width: 600px;
}

.rightcontainer {
	z-index:-1;
	left:50.1%;
	height:100%;
	width:49.9%;
	position:absolute;
	background: black url("../img/bgaccueil.jpg") left no-repeat;
}

.rightcontainer-mission {
	z-index:-1;
	left:50.1%;
	height:100%;
	width:49.9%;
	position:absolute;
	background: black url("../img/bgmission.jpg") left no-repeat;	
}

@media all and (max-width: 972px){
	#menu li {
		font-size:0.8em;
	}
}

@media all and (max-width: 805px){
	#menu li {
		font-size:0.58em;
	}
}

@media all and (max-width: 640px){
	.leftcontainer, .rightcontainer { display: none;}
	.midcontainer { left:0; width:100%;}

	#menu li {
		font-size:0.72em;
	}
}
